# TODO: set APIFY_API_TOKEN in your project's .env
APIFY_API_TOKEN=

# TODO: set GOOGLE_APPLICATION_CREDENTIALS path to a service account JSON
GOOGLE_APPLICATION_CREDENTIALS=

# TODO: set ANTHROPIC_API_KEY in your project's .env
ANTHROPIC_API_KEY=

# TODO: set ANYMAILFINDER_API_KEY in your project's .env
ANYMAILFINDER_API_KEY=
